<h3 style="color: rgb(0, 0, 0);">Example topic</h3><p style="color: rgb(0, 0, 0);">Video:</p><p style="color: rgb(0, 0, 0);"><iframe frameborder="0" src="//www.youtube.com/embed/wDjeBNv6ip0" width="640" height="360" class="note-video-clip"></iframe><br></p><h3><div><br></div></h3>